#menu, #menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align:right;
	width:100%;
}
#menu {
	width: 100%;
}
#menu:before, #menu:after {
	content: "";
	display: table;
}
#menu:after {
	clear: both;
}
#menu {
	zoom:1;
}
#menu, #menu li {
	text-align:left;
	display:inline-table;
}
#menu li {
	position: relative;
	display:block;
	width:100%;
}
#menu a {
	-webkit-transition: background 1s ease;
	-moz-transition: background 1s ease;
	-o-transition: background 1s ease;
	-ms-transition: background 1s ease;
	transition: background 1s ease;
	color:#000;
	display:block;
	border-bottom:1px solid #f6f6f6;
	text-decoration:none;
	font-size:18px;
	padding:10px 0px 10px 10px;
}
#menu a:hover {
	background:#f09a20;
}
#menu li:hover > a {
	background:#f09a20;
}
/* IE6 only */
*html #menu li a:hover {
	background:#f09a20;
}
/* SUB MENU */
#menu ul {
	margin: 20px 0 0 0;
	_margin: 0; /*IE6 only*/
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 0px;
	left: 150px;
	z-index: 3;
	background: #f7941d;
	min-width:200px;
	width:auto;
	transition: all .2s ease-in-out;
}
#menu li:hover > ul {
	opacity: 1;
	visibility: visible;
	margin: 0;
}
#menu ul ul {
	top: 0px;
	left: 150px;
	margin: 0 0 0 0px;
	_margin: 0; /*IE6 only*/
	/*box-shadow: -1px 0 0 rgba(255,255,255,.3);*/
}
#menu ul li {
	display: block;
	border: 0;
	_line-height: 0; /*IE6 only*/
	/*box-shadow: 0px 1px 0px #111;*/
	text-align:left;
	margin:0px;
	width:100%;
	
}
#menu ul li:last-child {
	box-shadow: none;
}
#menu ul a {
	transition: background 1s ease-out;
	color:#000;
	display:block;
	text-decoration:none;
	font-size:17px;
	padding:10px 0px 10px 10px;
}
#menu ul a:hover {
	background:#f09a20;
}
/* SUB MENU */

/* ARROWS */
#menu ul li:first-child > a {
	/*border-radius: 5px 0px 5px 0px;*/
}
#menu ul.about-us li:first-child > a:after {
	content: '';
	position: absolute;
	left: 105px;
	top: -6px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #146432;
}
#menu ul ul li:first-child a:after {
	left: -6px;
	top: 50%;
	margin-top: -6px;
	border-left: 0;
	border-bottom: 6px solid transparent;
	border-top: 6px solid transparent;
	border-right: 6px solid #146432;
}
#menu ul li:first-child a:hover:after {
	border-bottom-color: #7a652d;
}

#menu ul ul li:first-child a:hover:after {
	border-right-color: #7a652d;
	border-bottom-color: transparent;
}

#menu ul li:last-child > a {
	/*border-radius: 0 0 3px 3px;*/
}
/* ARROWS */